# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
!.idea/runConfigurations

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
windows/flutter/*
.gitmessage
settings.json
pubspec.lock
firebase_options.dart
google-services.json
GoogleService-Info.plist
linux/flutter/*
*.gr.dart
*.env
*.env.*
*.env.g.dart
*.g.dart
*.gen.dart
.firebaserc

/firebase.json
/packages/food_app/lib/firebase_options.dart
/.idea/runConfigurations/melos_bootstrap.xml
/.idea/runConfigurations/melos_clean.xml
/.idea/runConfigurations/melos_flutter_test_food_client.xml
/.idea/runConfigurations/melos_run_analyze.xml
/.idea/runConfigurations/melos_run_assets_runner.xml
/.idea/runConfigurations/melos_run_build_aab_dev.xml
/.idea/runConfigurations/melos_run_build_aab_prod.xml
/.idea/runConfigurations/melos_run_build_apk_dev.xml
/.idea/runConfigurations/melos_run_build_apk_prod.xml
/.idea/runConfigurations/melos_run_build_runner.xml
/.idea/runConfigurations/melos_run_clean.xml
/.idea/runConfigurations/melos_run_go_ios_go.xml
/.idea/runConfigurations/melos_run_locale_gen.xml
/packages/food_app/pubspec_overrides.yaml
/packages/food_client/pubspec_overrides.yaml
/packages/food_ui/pubspec_overrides.yaml
/.firebase/hosting.YnVpbGQvd2Vi.cache
